USE [master]
GO
/****** Object:  Database [Photo]    Script Date: 15-Nov-16 09:09:10 PM ******/
CREATE DATABASE [Photo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Photo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Photo.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Photo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Photo_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Photo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Photo]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 15-Nov-16 09:09:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALBUM](
	[IDALBUM] [int] IDENTITY(1,1) NOT NULL,
	[IDUSER] [varchar](30) NULL,
	[NAMEALBUM] [nvarchar](50) NULL,
	[DESCRIPTION_] [nvarchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 15-Nov-16 09:09:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[IDIMAGE] [int] IDENTITY(1,1) NOT NULL,
	[IDALBUM] [int] NOT NULL,
	[NAMEIMAGE] [nvarchar](100) NULL,
	[TITLEIMAGE] [nvarchar](100) NULL,
	[DESCRIPTIONIMAGE] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 15-Nov-16 09:09:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[IDUSER] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](30) NULL,
	[NAME] [nvarchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[USERGROUP] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ALBUM] ON 

INSERT [dbo].[ALBUM] ([IDALBUM], [IDUSER], [NAMEALBUM], [DESCRIPTION_]) VALUES (1, N'white', N'white', NULL)
INSERT [dbo].[ALBUM] ([IDALBUM], [IDUSER], [NAMEALBUM], [DESCRIPTION_]) VALUES (2, N'btheanh', N'btheanh', NULL)
INSERT [dbo].[ALBUM] ([IDALBUM], [IDUSER], [NAMEALBUM], [DESCRIPTION_]) VALUES (3, N'theanh', N'theanh', NULL)
SET IDENTITY_INSERT [dbo].[ALBUM] OFF
SET IDENTITY_INSERT [dbo].[IMAGE] ON 

INSERT [dbo].[IMAGE] ([IDIMAGE], [IDALBUM], [NAMEIMAGE], [TITLEIMAGE], [DESCRIPTIONIMAGE]) VALUES (39, 5, N'12046781_1643468415912717_8955715650075988222_n.jpg', NULL, NULL)
INSERT [dbo].[IMAGE] ([IDIMAGE], [IDALBUM], [NAMEIMAGE], [TITLEIMAGE], [DESCRIPTIONIMAGE]) VALUES (40, 5, N'12046781_1643468415912717_8955715650075988222_n.jpg', NULL, NULL)
INSERT [dbo].[IMAGE] ([IDIMAGE], [IDALBUM], [NAMEIMAGE], [TITLEIMAGE], [DESCRIPTIONIMAGE]) VALUES (3, 2, N'download.png', NULL, NULL)
SET IDENTITY_INSERT [dbo].[IMAGE] OFF
INSERT [dbo].[USER] ([IDUSER], [PASSWORD], [NAME], [MAIL], [USERGROUP]) VALUES (N'white', N'anh123', N'Bùi Thế Anh', N'btheanh174@gmail.com', N'Registered')
INSERT [dbo].[USER] ([IDUSER], [PASSWORD], [NAME], [MAIL], [USERGROUP]) VALUES (N'btheanh', N'anh123', N'Thế Anh', N'btheanh174@gmail.com', N'Admin')
INSERT [dbo].[USER] ([IDUSER], [PASSWORD], [NAME], [MAIL], [USERGROUP]) VALUES (N'theanh', N'hjkhkj', N'hkjhkj', N'jkhkjhk', N'Registered')
/****** Object:  Index [PK_ALBUM]    Script Date: 15-Nov-16 09:09:11 PM ******/
ALTER TABLE [dbo].[ALBUM] ADD  CONSTRAINT [PK_ALBUM] PRIMARY KEY NONCLUSTERED 
(
	[IDALBUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [HAS_FK]    Script Date: 15-Nov-16 09:09:11 PM ******/
CREATE NONCLUSTERED INDEX [HAS_FK] ON [dbo].[ALBUM]
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_IMAGE]    Script Date: 15-Nov-16 09:09:11 PM ******/
ALTER TABLE [dbo].[IMAGE] ADD  CONSTRAINT [PK_IMAGE] PRIMARY KEY NONCLUSTERED 
(
	[IDIMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_2_FK]    Script Date: 15-Nov-16 09:09:11 PM ******/
CREATE NONCLUSTERED INDEX [HAS_2_FK] ON [dbo].[IMAGE]
(
	[IDALBUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_USER]    Script Date: 15-Nov-16 09:09:11 PM ******/
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[IDUSER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_ALBUM_HAS_USER] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USER] ([IDUSER])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_ALBUM_HAS_USER]
GO
ALTER TABLE [dbo].[IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_HAS_2_ALBUM] FOREIGN KEY([IDALBUM])
REFERENCES [dbo].[ALBUM] ([IDALBUM])
GO
ALTER TABLE [dbo].[IMAGE] CHECK CONSTRAINT [FK_IMAGE_HAS_2_ALBUM]
GO
USE [master]
GO
