@{
    ViewBag.Title = "Home Page";
}
@section activeindex {
    class ="active"
}




    <div id="fh5co-hero">
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro">
							<h1 class="to-animate hero-animate-1">Easy Image Uploads</h1>
							<p class="to-animate hero-animate-3"><a href="upload" class="btn btn-outline btn-lg">Upload</a></p>
						</div>
					</div> 
				</div>
			</div>	
		</div>

